/* CSS for spacebears game */

canvas {
  width: 550px !important;
  height: 413px !important;
  float:left;
  background:url(/spacebears/img/background.jpg);
  border: 0;
  padding: 0;
  margin-right: 5px;
  margin-bottom: 10px;
}

#panel {
  text-align: left;
  border: 0;
  padding: 5px;
  margin: 0;
}

#intro, #scoreboard, #actions, #settings {
  margin: 10px 0;
}


#intro #fastest {
  font-size: larger;
  color: #11d;
}

#scoreboard #score {
  font-size: larger;
  color: #0d0;
}

#scoreboard #miss {
  font-size: larger;
  color: #f11;
}

#scoreboard #elapsed {
  font-size: larger;
  color: #dd0;
}


#actions button {
  margin-left: 2px;
  width: 100px;
}

#settings input {
  background-color: #ccc;
  width: 50px;
  margin: 0 3px;
}
