extends layout


block extrahead
    link(rel="canonical", href="/")


block content
  #main.span9
    h2 Welcome to my humble abode on the interwebz

    #contact.box
      h3 Contact
      ul
        li mailto: webmaster at kodeaffe dot de
        li xmpp: shensche at jabber dot ccc dot de
        li status.net: 
          a(href="http://identi.ca/shensche") identi.ca
        li job websites: 
          a(href="http://www.djangodevelopers.net/developer/sebastian-henschel/") djangodevelopers.net
        li github: 
          a(href="http://github.com/marmorkuchen") marmorkuchen
        li Otherwise I'm bouncing around planet Earth, currently in Berlin. Give me a shout if you want to hook up somewhere around these parts.

  #sidebar-right.span3
    #links.box
      h3 Interesting Links
      ul
        - for (var name in interestingLinks)
          - var link = interestingLinks[name]
            li
              a(href="#{link.href}") #{name}
              br
              | #{link.description}
