extends layout


block extrahead
    link(rel="canonical", href="/")


block content
  .row
    .content.col-xs-8
      h2 Welcome to my humble abode
        small on the interwebz

      #contact
        h3 Contact
        ul
          li mailto: webmaster at kodeaffe dot de
          li xmpp: shensche at jabber dot ccc dot de
          li status.net: 
            a(href="http://identi.ca/shensche") identi.ca
          li job websites: 
            a(href="http://www.djangodevelopers.net/developer/sebastian-henschel/") djangodevelopers.net
          li github: 
            a(href="http://github.com/marmorkuchen") marmorkuchen
        p Otherwise I'm bouncing around planet Earth, currently in Berlin. Give me a shout if you want to hook up somewhere around these parts.
        a(href="http://www.defectivebydesign.org/no-drm-in-html5")
          img(src="http://static.fsf.org/dbd/hollywebshare.jpeg", alt="Stop the Hollyweb! No DRM in HTML5.")

    .sidebar.col-xs-4
      #links.box
        h3 Interesting Links
        ul
          - for (var name in interestingLinks)
            - var link = interestingLinks[name]
              li
                a(href="#{link.href}") #{name}
                br
                | #{link.description}
