extends layout

block extrahead
    link(rel="canonical", href="/kartuliflash")
    link(rel="stylesheet", href="/kartuliflash/style.css")
    script(src="/kartuliflash/script.js")


block content
  .row-fluid
    .span12
      h2 Georgian Letter Flashcards

  .row-fluid
    #main.span6
      form.form-horizontal
        #flashcard.box.row-fluid
          .control-group
            label.control-label Georgian
            .controls
              span(id="georgian")
          .control-group
            label.control-label English
            .controls
              input(type="text", id="solution", size="3", maxlength="3")
              button.btn(id="check") Check
              span(id="english")
          .control-group
            .controls
              button.btn(id="new") New Card (Alt+n)

        #scoreboard.box.row-fluid
          .span6 Score: 
            span(id="score") 0 / 0
          .span6
            button.btn.pull-right(id="showtable") Show Table

    #sidebar.box.span6
      table.table.table-striped.table-bordered(id="letter-table")
        caption Letter Table
