extends layout

block extrahead
    link(rel="canonical", href="/kartuliflash")
    link(rel="stylesheet", href="/kartuliflash/style.css")
    script(src="/kartuliflash/script.js")


block content
  .row
    .col-xs-12
      h2 Georgian Letter Flashcards
      p Type in the english equivalent to the georgian character displayed  Hit&nbsp;
        span.btn.btn-primary Check
        &nbsp; or press
        kbd Enter
        &nbsp; to see if you were right. Hit&nbsp;
        span.btn.btn-default New Card
        &nbsp; or press 
        kbg Alt-n
        &nbsp; to deal a new card.
      p Reveal the full character table by hitting&nbsp;
        span.btn.btn-default Show Table
        &nbsp;.

  .row
    .content.col-xs-12
      form.form-horizontal
        #flashcard.box
          .row
            .col-xs-2
              label Georgian
            .col-xs-10
              span(id="georgian")
          #guessrow.row
            .col-xs-2
              label English
            .col-xs-2
              input.form-control(type="text", id="guess", size="3", maxlength="3")
            .col-xs-8
              button.btn.btn-primary(id="check") Check
              #solution

          .row
            .col-xs-2
            .col-xs-10
              button.btn.btn-default(id="new") New Card (Alt+n)
              button.btn.btn-default(id="showtable") Show Table

          #scoreboard.row
            .col-xs-2
              label Score
            .col-xs-10
              span(id="score") 0 / 0

  .row
    #letter-table.col-xs-12.box
        table.table.table-striped.table-bordered
          caption Letter Table
