extends layout

block extrahead
    link(rel="canonical", href="/spacebears")
    link(rel="stylesheet", href="/spacebears/style.css")
    script(src="/spacebears/script.js")


block content
  h2 Spacebears

  #gamezone.row
    // _must_ specify width + height in canvas tag to have bears in right size
    .col-xs-6
      canvas(id="board", width="550", height="413")
    #panel.col-xs-4.box
      h3 Catch the Space Bears!

      #intro
        | Grab a bear to hear an awesome sound!
        br
        | Every miss will give you a one-point penalty.
        br
        | Fastest game: 
        span(id="fastest") 0
        |  s

      #scoreboard
        h4 Scoreboard
        .row
          .col-xs-2 Miss:
          .col-xs-2
            span(id="miss") 0
          .col-xs-2 Score:
          .col-cs-2
            span(id="score") 0
          .col-xs-2 Elapsed:
          .col-xs-2
            span(id="elapsed") 0
            |  s

      #actions
        h4 Actions
        button.btn.btn-default(id="startpause") Start
        button.btn.btn-default(id="reset") Reset

      #settings
        form.form-inline
          h4 Settings
          label Win Score
            input.form-control(id="settings-winscore", type="range", min="1", max="99", value="10")
          label Speed
            input.form-control(id="settings-speed", type="range", min="1", max="9", value="1")
          label Bears
            input.form-control(id="settings-bears", type="range", min="1", max="5", value="4")

    #finish-modal.modal.hide.fade(tabindex="-1", role="dialog", aria-hidden="true")
      .modal-header
        button.close(data-dismiss="modal", aria-hidden="true") x
        h3 You Win!
      .modal-footer
        button.btn(data-dismiss="modal", aria-hidden="true") Close
