/* CSS for portfolio */

#portfolio h3, #portfolio h4 {
  color: #ccc;
}

#portfolio .toggle {
  cursor: pointer;
  color: #fff;
}

#portfolio .icon-arrow-right, #portfolio .icon-arrow-down {
  margin-top: 7px;
  margin-left: 2px;
}
