body {
  background-color: #131;
  padding: 110px 5px 5px 5px;
}

a {
  color: #999;
  text-decoration: none;
  border-bottom: 1px dotted #999;
}
a:focus {
  color: #eee;
}
a:hover {
  color: #eee;
  text-decoration: none;
  border-bottom: 1px solid #eee;
}

h1, h2, h3, h4, legend, #follow-me-link {
  color: #860;
}

div, p {
  color: #ccc;
}


.navbar {
  margin-left: 25px;
  margin-right: 5px;
}
.navbar .navbar-inner {
  background-color: #222;
  background-image: none;
}
.navbar .navbar-inner  {
  border: none;
}
.navbar .brand {
  background-color: #222;
  text-shadow: none;
}
.navbar a {
  text-decoration: none;
}
.navbar #logo {
  float: left;
}
.navbar #site {
  float:left;
  padding-left: 5px;
}
.navbar .nav > li > a {
  text-shadow: none;
  color: #360;
  font-size: large;
  text-decoration: none;
  border-bottom: none;
}
.navbar .nav > li > a:hover {
  color: #691;
  text-decoration: underline;
  border-bottom: none;
}


.container-fluid {
  background-color: #333;
}

.box {
  border: 1px solid #555a55;
  background-color: #444a44;
  margin: 10px 0;
  padding: 0 5px;
}


#footer {
  color: #eee;
  font-size: x-small;
}
