html, body {
  background-color: #131;
  padding: 0;
  margin: 0;
}

a {
  color: #999;
  text-decoration: none;
  border-bottom: 1px dotted #999;
}
a:focus {
  color: #eee;
}
a:hover {
  color: #eee;
  text-decoration: none;
  border-bottom: 1px solid #eee;
}

h1, h2, h3, h4, legend, #follow-me-link {
  color: #860;
}

div, p {
  color: #ccc;
}


#header {
  padding: 5px;
  background-color: #222;
}

#header a {
  text-decoration: none;
}

#header #logo {
  float: left;
}

#header #site {
  float: left;
  margin-left: 10px;
}

#header #site h1 {
  margin: 0;
}

#header .nav-tabs {
  border: none;
}

#header .nav > li > a {
  text-shadow: none;
  color: #360;
  font-size: large;
  text-decoration: none;
  border-bottom: none;
}
#header .nav > li > a:hover,
#header .nav > li > a:focus {
  color: #691;
  text-decoration: underline;
  border: none;
  background-color: #222;
}

.container {
  background-color: #333;
  width: 95%;
  padding: 5px;
}

.box {
  border: 1px solid #555a55;
  background-color: #444;
  padding: 5px;
}

.box h3 {
  margin: 5px;
}


#footer {
  color: #eee;
  font-size: x-small;
  margin: 0 2.5%;
}

#flashcard .row {
  margin: 10px 0;
}
