/* stylesheet for kartuli flash */

.table-striped tbody > tr:nth-child(2n+1) > td, .table-striped tbody > tr:nth-child(2n+1) > th {
    background-color: #333;
}

#georgian {
  font-size: larger;
}

#sidebar caption {
  text-align: left;
  font-size: x-large;
  margin-bottom: 5px;
}

#flashcard input {
  margin-right: 2px;
}

#flashcard #showtable {
  margin-left: 2px;
}

#flashcard #english {
  font-size: larger;
}
