/* stylesheet for kartuli flash */

.box {
  padding: 5px;
}

.table-striped tbody > tr:nth-child(2n+1) > td, .table-striped tbody > tr:nth-child(2n+1) > th {
    background-color: #333;
}


#georgian {
  font-size: x-large;
}

#sidebar caption {
  text-align: left;
  font-size: x-large;
  margin-bottom: 5px;
}

#flashcard input {
  margin-right: 2px;
}
